/*setup */


* {
    padding: 0;
    margin: 0;
    font-family: scala-sans-caps;
    list-style: none;
}



html,
body {
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

html {
    box-sizing: border-box;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}


/*
=========================
    MAIN
=========================
*/

main {
    min-height: 120vh;
    min-width: 320px;
    background-color: white;
    position: relative;
    z-index: 1;
}

.long {
    min-height: 170vh;
    min-width: 320px;
    background-color: white;
    position: relative;
    z-index: 1;
}


/*
=========================
    GENERAL
=========================
*/
p {
    color: rgb( 226, 35, 27);
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: rgb( 226, 35, 27);
    font-family: digital-7;
    display: inline-block;
    margin-left: 60px;
    margin-top: 19px;
    font-size: 40px;
    font-weight: lighter;
}

h2 { 
    position: absolute;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
}

header {
    font-family: digital-7;
    color: rgb( 226, 35, 27);
    display: block;
    text-align: center;
    padding: 5.5px;
}

header h1 {
    display: block;
    margin-top: 1px;
    margin-bottom: -10px;
    margin-left: 0px;
}

header h2 {
    display: block;
    font-size: 13px;
    margin-left: 8.8em;
    margin-top: 7px;
}

.block {
    width: 280px;
    color: white;
    background-color: rgb( 226, 35, 27);
    padding:10px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    margin: 23px 5px 20px 19.7px;
}

.info {
    width: 280px;
    color: rgb(226, 35, 27);
    float: left;
    box-sizing: border-box;
    list-style-type: none;
    margin: 15px 5px 0 17px;
    font-size: 17px;
}

.info p{
    color: black;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.info h5 {
    font-size: 18px;
}

.info a {
    color: rgb(46, 164, 118);
}

/*
=========================
    Image
=========================
*/

.overlay { 
    color: white;
    letter-spacing: 1px; 
    background: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 80%;
    margin: -8em 15%;
    width: 70%;
    padding: 5%;
}

.image { 
    max-width: 100%;
    height: 100%;
    margin-top:23px;
}

.image img {
    width: 100%;
    background-size: contain;
}

/*
=========================
    Restaurants
=========================
*/

.foodtype {
    max-width: 305px;
    color: white;
    background-color: rgb( 226, 35, 27);
    padding:1.5em;
    float: left;
    text-align: center;
    box-sizing: border-box;
    list-style-type: none;
    margin: 8px 5px 0 5px;
    text-decoration: none;
}

.foodtype a{
    padding:1.5em 9.9em;
    margin-left: -18px;
}

.foodtype p {
    color: white;
}

.restaurants {
    width: 280px;
    color: white;
    background-color: rgb( 226, 35, 27);
    padding: 1.5em;
    float: left;
    box-sizing: border-box;
    list-style-type: none;
    margin: 14px 5px 0 19px;
}

.restaurants p {
    color: black;
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    margin-top: 9px;
}

/*
=========================
    Markets
=========================
*/

.north,
.south,
.eastwest {
    text-align:center;
} 

.north a,
.south a,
.eastwest a {
    display:inline-block;
    background:rgb( 226, 35, 27);
    width:145px;
    padding: 2em;
    margin: 6px 6px 6px 1px;
    font-size: 15px;   
}

.northblock {
    width: 230px;
    color: white;
    background-color: rgb( 226, 35, 27);
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    margin: 76px 5px 2px 44px; 
    font-size: 15px;
}

.numbers {
    text-align: center;
    width: 300px;
    margin-top: 10px;
    margin-left: 1.5vh;
}
/*
=========================
    Maps
=========================
*/

iframe.mymap {
	width:280px;
	height:20em;
    margin-left: 19.7px;
    border-style: none;
}

iframe.mapmarket {
	width:280px;
	height:20em;
    margin-left: 19.7px;
    margin-top: 15px;
    border-style: none;
}

/*
=========================
   Icons
=========================
*/

.panel {
    color: white;
    font-size: 13px;
    margin: 1vh 2.5px;
    position: absolute;
    width: 98.5%;
}

.icons {
    width: 145px;
    float: left;
    margin: 6px 6px 6px 6px;
    list-style:none;
}

.icons a {
    background-color: rgb( 226, 35, 27);
    display:block;
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 3em 0 3em;
}

.icons p {
    color: white;
}

/*
=========================
    Table
=========================
*/

table {
    width: 300px;
    margin-top: 8em;
    font-size: 10px;
    line-height: 18px;
    margin-left: 18px;

}

.red {
    color: rgb( 226, 35, 27);
    font-size: 17px;
    font-weight: 700;
}

footer p {
    width: 300px;
    text-align: left;
    font-size: 8px;
    margin-top: 13em;
    margin-left: 1.3em;
}

/*
=========================
   Snacks
=========================
*/

.snacks {
    margin-left: 9px;
    text-align: center;
}

.snacks a {
    background:rgb( 226, 35, 27);
    width:300px;
    padding: 8px;
    margin: 6px 6px 6px 0px; 
    display: block;
}

.margins {
    margin: 10px 0px;
}

/*
=========================
    MENU 
=========================
*/
.burgernav {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    background-color: white;
}

.burgerlist {
    float: left;
    clear: left;
    text-align: center;
    width: 150px;
    margin-left: 23.4px;
}

.burgersmall {
    float: left;
    clear: left;
    text-align: center;
    width: 120px;
    margin-left: 53px;
    font-size: 10px;
}

.burgernav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    background-color: rgb(226, 35, 27);
    margin-top: 6px;
}

.isga {
    font-size: 15px;
    width: 190px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 4px;
}

.cross {
    position: relative;
    right: 6em;
    width: 50px;
    top: 18em;
}

/*het menu-icoontje */

.burger {
    /* verberg checkbox */
    position: absolute;
    display: none;
}

.burger +label {
    /* positioneer pannenkoeken */
    position: absolute;
    left: 3px;
    top: 7px;
    z-index: 2;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: rgb(226, 35, 27);
    margin-top: 14px;
}

.burger +label:before {
    /* voeg pannenkoeken toe */
    content: "\2261";
    font-size: 3.6em;
    /*    font-size-adjust voor mozilla */
    font-size-adjust: .3;
    line-height: 0;
    position: relative;
    top: .1em;
    padding: 0 .2em;
}

/*het kruisje */

.burger:checked + label:before {
    content: "\2261";
    font-size: 3.6em;
    /*    geen font-size-adjust */
    font-size-adjust: .3;
    /*    uitlijning van het kruisje */
    padding: 0 .2em;
    right: 30px;
}

/* Make the magic happen */

.burger + label,
main {
    transition: right 0.2s;
}

.burger:checked + label {
    left: 235px;
}

.burger:checked ~ main {
    left: 200px;
    box-shadow: 0 0 1px 1px rgba(90, 90, 90, 0.5);
}

@media screen and (min-width: 520px) {
    .overlay { 
    padding: 2em;
}

    .image img {
    width: 100%;
    height: 57vh;
}

    .panel {
    color: white;
    font-size: 16px;
    position: absolute;
    width: 98.5%;
    padding-left: 22.5%;
    top: 45em;
}

.icons {
    width: 500px;
}
    header h2 {
    width: 87.6%
}
    
}
